@use "../themes/bootstrap-color.scss";

// ------------- font family -------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.quicksand-aluexpress {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.about-card {
  border-style: solid;
  border-width: 4px;
  border-color: bootstrap-color.$secondary;
  padding: 20px;
  margin: 40px 20px 20px;

  .about-card-header {
    margin: -40px 0px 20px;
    width: 200px;
    background: #fff;
    color: bootstrap-color.$secondary;
  }
}
