@use "../themes/bootstrap-color.scss";

// ------------- font family -------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.quicksand-aluexpress {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

footer {
  * {
    transition-duration: 0.15s;
  }
  background-image: url("../images/philippines.jpg");
  background-size: cover;

  .footer-wrapper {
    margin: 0px;
    background: rgba($color: #000, $alpha: 0.6);
  }

  hr {
    border-color: rgba($color: #fff, $alpha: 0.6);
    margin: 5px 0px;
  }
  .footer-social {
    a {
      padding: 7px 10px 9px;
      margin-right: 10px;
      border-width: 2px;
      border-color: #fff;
      border-style: solid;
      border-radius: 50%;
      color: #fff;
    }

    .fill-svg {
      stroke-width: 0;
      fill: #fff;
    }

    svg {
      height: 20px;
      width: 20px;
    }
  }

  .footer-credits {
    margin: 0px;
    padding: 20px;
    color: bootstrap-color.$secondary;
    font-size: 0.9rem;
    background-color: rgba($color: #000000, $alpha: 0.6);

    a {
      color: bootstrap-color.$secondary;
      text-decoration: underline;
    }

    a:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}
