// ------------- font family -------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.quicksand-aluexpress {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.project {
  background: url("../images/polygon.png") center center;
  background-size: cover;
  background-repeat: no-repeat;

  .gallery-cat {
    margin-bottom: 10px;
    .badge {
      margin: 5px;
      text-transform: uppercase;
      cursor: default;
    }

    .badge-light:hover {
      cursor: pointer;
    }
  }

  .gallery {
    margin: 0px auto;
  }
}
